{% extends 'base.jinja' %}

{% block content %}

    <section class="hero">
        <h1 class="main_titles"> HYRULE HEALTH CARE</h1>
            <h2>
            <ul class="home_buttons_block">
            <button class="home_buttons" ><a href="/locations">Locations</a></button>
            <button class="home_buttons" ><a href="/animals">Animals</a></button>
            <button class="home_buttons" ><a href="/vets">Vets</a></button>
            </ul>
            </h2>   
    </section>

<div id="parent">
    <p class="main_text"> Welcome to Hyrules <i><u>number 1</u></i> Vet clinics!</p>
    
    </p>
    <img class="home_background" src="/static/images/hyrule.jpeg" alt="background img">
</div>
</div>
{% endblock content %}
